body {
	background-image: url("candle_inverse.png"); /* I might be ignorant as to how the relative pathing works, but I was not able to make an image appear unless it was in the exact same folder as the style sheet */
	background-repeat: no-repeat;
	background-position: right top;
	background-color: black;
	max-width: 60em;
	margin: 0 auto 0 auto;
}
h1 {
	font-family: Garamond;
	color: white;
	font-size: 200%;
	text-decoration-line: underline;
	text-shadow: 2px 2px;
}
h2 {
	color: white;
	border: 1px solid white;
}
a {
	color: white;
}
table {
	background-color: MidnightBlue; /* Not the best contrasting color but it gives the original table more pzazz. */
	color: white;
	border: 1px solid white;
}
p {
	color: white;
}


table, th, td {
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}
